app_admin_byjunolog:
    resource: |
        alias: byjuno.byjunolog
        section: admin
        templates: "@SyliusAdmin\\Crud"
        redirect: update
        grid: app_admin_byjunolog
        vars:
            all:
                subheader: byjuno.ui.byjunologs
            index:
                icon: 'file image outline'
    type: sylius.resource
    prefix: /admin
  
app_admin_byjunolog_route:
    path: /admin/byjunologs
    methods: [GET]      
            
app_txm_show:
    path: /byjuno/tmx
    methods: [GET]
    defaults:
        _controller: byjuno.controller.tmx::tmxAction
